* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #B1EDE8;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.options-container {
    box-shadow: inset;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 0;
}

img {
    border: 2px solid black;
    width: 25%;
}

img:hover {
    border: 4px solid black;

}

.rounded-corners {
    border-radius: 50px;
}

.game-console {
    font:inherit;
    font-size: 20px;
}

#victories {
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre;
}